*
!.gitignore
!LICENSE
!README.md
!requirements.txt
!vkLongpollLogger.py
!updateIndex.py
!flaskWebServer.py
!autostart
!autostart/vkCacheBot
!autostart/vkCacheBot.service
!/autostart/vkCacheBot.vbs
!customActions.py
!config.json
